:root {
  --primary-color: #547471;
  --secondary-color: #A09D92;
  --primary-color-hover: #90b1ad;
  --secondary-color-hover: #ddd8c4;
  --font-size: 16px;
  --spacing: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

header {
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header-logo{

  height: 100%;
  /* margin-left: 20px; */
}
.options-container{
  height: 100%;
  display: flex;
  gap: 50px;
}
.color-selector{
  display: flex;
}
.type-selector{
  display: flex;
  flex-direction: column;
}
.type-row {
  display: flex;
  margin: 5px;
}
nav {
    background-color: var(--primary-color);
    overflow: auto;
    height: 60px;
    white-space: nowrap;
}

nav a {
  
    /* float: left; */
    display: inline-block;   
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover, nav div:hover {
    background-color: #ddd;
    color: black;
}



#cartridge-list {
    width: 40%;
    padding: 10px;
}

#kanban-table {
    width: 55%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.kanban-column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.kanban-column h2 {
    text-align: center;
}

.kanban-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: move;
}



body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sub-nav{
  /* width: 70%; */
  height: 0;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left:-1px;
  border-radius: 0 0 15px 15px;
  backdrop-filter: blur(5px);
  border: 1px solid grey;
  padding: 0 10px;
  transition: all ease 0.2s;
  opacity: 0;
  overflow: hidden;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-nav a {
  color: black;
  /* float: left; */
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.sub-nav a:hover{
  border-bottom: 2px solid var(--primary-color);
}
.sub-nav a:focus{
 background-color: var(--secondary-color); 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e6e8ec;
    flex-direction: column;
    position: relative;
    
}
.inner-container {
    display: flex;
    padding: 20px;
    width: 95%;
    height: 70vh;
    background-color: #ffffffc5;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    overflow: auto;
    scrollbar-width: thin;
    
}

.show {
    display: block;
}

.hovered{
  opacity: 1;
  height: 40px;

}

@keyframes animatedshow {
  from{

  }
  to{

  }
}
/* ============================ Stock ============================ */

.inventory-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inv-items-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}  


  .printer-card{
    width: 490px;
    /* /height: 190px; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius  : 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .cartridge-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 98%;
    border-radius  : 5px;
  }

  .cartridge-item{
    width: 120px;
    height: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: relative;
    /* transition: 0.3s ease; */
  }
  .cartridge-item:hover{
        transform: scale(1.02);
        cursor: pointer;
  }

  .badge-color {
    
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .Noir{
    background-color: black;
  }
  .Jaune{
    background-color: #eaee07;
  }
  .Magenta{
    background-color: #f11cdf;
  }
  .Cyan{
    background-color: #1cf1df;
  }
  .stock-item-data{
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .stock-values{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
  }

  .type-value{
    font-size: 10px;
    margin-left: 15px;
  }
  .overlay-out{
    position: absolute;
    width: 120px;
    height: 100px;
    border-radius: 5px;
    border:2px #fe615c solid;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe615c;
    font-size: 18px;
    font-weight: bold;
  }
  .overlay-out:hover{
    opacity: 0;
  }
  .stock-danger{
    border:1px #ff9500 solid;
  }
  .stock-good{
    border:1px #23ba2a solid;
  }
/* ============================ Mouvement Stock ============================ */
.mvt-table {
  border-collapse: collapse;
  width: 100%;
  border: none;

}

thead {
  border-bottom: 1px solid black;
}

.mvt-table-tr th {
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  border: none;
}
.inv-table-tr th {
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}
.mvt-table-tr td {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid rgb(133, 133, 133);
  
}
.mvt-table-tr{
  cursor: pointer;
  height: 50px;
}
.mvt-table-tr:hover{
  
  background-color: rgba(255, 253, 253, 0.644);
}
.mvt-table-tbody tr:nth-child(odd):hover {
  background-color: var(--primary-color);
}

.mvt-table-tbody tr:nth-child(odd) {
  background-color: var(--primary-color-hover);
}

.show-page-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  /* height: 40px; */
}

.show-page-button:hover {
  background-color: var(--primary-color);
}
.pagination{
  border:1px solid #15d072;
  display: flex;
  background-color: white;
}
.page-button{
  /* height: 30px; */
  width: 30px;
  line-height: 28px; 
  text-align: center;
  text-decoration: none;
}
.active-number{
  background-color: #15d072 !important ;
  border:2px solid #4dea9b;
  color: white !important ;
}

.pagination-container{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.page-selector{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}
.filters-container{
  margin: 0px 0;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  /* height: 70px; */
  display: flex;
  gap: 15px;
  /* justify-content: center; */
  align-items:center ;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.filter-cancel{
  border: none;
  background-color: transparent;
}

.mvt-stock-header h2 {
  margin: 0 0 20px 0 ;

}


.filter-select{
  background-color: white;
  color: black;
  border:1px solid var(--primary-color);
  padding: 10px;
  border-radius: 13px;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  max-width: 150px;
}
.filter-box{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  ;
}
.search-button{
  background-color:  var(--primary-color);
  padding: 10px;
  color: white;
  border-radius: 13px;
  cursor: pointer;
  height: 40px;
  width: 70px;
  font-size: 15px;
  font-weight: bold
}
.search-button:hover{
  background-color:  #40fd9e;
}
.cancel-filter{
  cursor: pointer;
}




/* NEW stuff */
.filter-box-per-page{
  width: 100px;
  height: 50px;
  padding: 0;
  border: 2px solid #40fd9e;
  border-radius: 5px;
  background-color: white;
}


.select-filter{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  appearance: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.filter-type-title{
  font-size: 15px;
  margin: 0 auto;
  color: #5f5f5f;
}

.filters-data{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pagination-data{
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  width: 100%;
}


.page {
  width: 300px;
  margin: 0 auto;
  padding: 0;
}

.page li {
  list-style: none;
  margin: 10px auto;
  padding: 12px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.page-number {
  cursor: pointer;
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
}


.btn-arrow {
  width: 120px;
  padding: 8px 16px;
  background-color: #ffffff00;
  color: #17c26d;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-arrow:hover {
  color: #17c26d;
}

.btn-arrow:disabled {
  background-color: #ffffff00;
  color: #ccc;
  cursor: not-allowed;
}

#prevPage {
  margin-right: 20px;
}

#nextPage {
  margin-left: 20px;
}

.btn-arrow {
  font-size: 1.2em;
}

.nav-text {
  font-size: 0.7em;
  letter-spacing: 0.3em;
}


/* ============================ Entrée Stock ============================ */

/* ============================ Sortie Stock ============================ */
.sortie-stock-header{
  position: relative;
}
#clear-search{
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: none;
}
#item-search{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 17px;
}
.cartridge-users{
  font-size: 8px;
}

.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 5.3rem;
  margin: auto;
  background: #a8a8a8;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.column {
  width: 50%;
  margin: 0 0.6rem;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 15px;
  
}

.column-header {
  padding: 0.1rem;
  border-bottom: #000013 0.2rem solid;
  border-radius: 15px 15px 0 0;
}

.column-header h4 {
  text-align: center;
}

.stock-set-column .column-header {
  background: var(--secondary-color);
}
.stock-set-column .column-header:hover {
  background: var(--secondary-color-hover);
}

.done-column .column-header {
  background: var(--primary-color);
}
.done-column .column-header:hover  {
  background: var(--primary-color-hover);
}

.da-set-column .column-header {
  background: #92caff;
}
.da-set-column .column-header:hover {
  background: #5cb5fd;
}

.task-list {
  min-height: 3rem;
  display: flex;
  flex-wrap:wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;
  color: #000013;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.valider-button {
  background-color: var(--primary-color);
  color: white;
  margin: 0.1rem auto 0.6rem auto;
}

.valider-button:hover {
  background-color: var(--secondary-color);;
}


.add-button:hover {
  background-color: #ffdd6e;
}

.task {
 
  display: flex;

  justify-content: space-around;
  
  list-style-type: none;
  background: #ffffff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin: 0.4rem;
  height: 4rem;
  /* border: #000013 1px solid; */
  border-radius: 0.2rem;
  cursor: move;
  text-align: center;
  width: 100px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.task:hover{
  transform: scale(1.05);
}
#taskText {
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
  width: 7rem;
  margin: auto 0.8rem auto 0.1rem;
}

.task p {
   margin: 0; 
}


.switch {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
 }
 
 .switch .input-switch {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 .input-switch:checked + .slider {
  background-color: var(--primary-color);
 }
 
 .input-switch:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 .input-switch:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
.hide-column{
  width: 0;
  opacity: 0;
}
.show-column{
  width: 50%;
  opacity: 1;
}

.column {
  transition: all .5s ease;
  
}

 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'DA';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
  content: 'Sortie';
 }
 
 /*--------- END --------*/




/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}





/* ============================ Modal  ============================ */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 2;
  justify-content: center;
  align-items: center;

}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 413px;
 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.modal-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.update-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 40px;
}

.update-button:hover {
  background-color: var(--secondary-color);
}

.input-color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.input-color:checked {
   border: 5px solid var(--primary-color);
}
input{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}
input:focus{
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
}




/* ============================ Modal BS ============================ */

.bs-modal-content {
  background-color: #fff;
 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  
 
}

.A4-format {
  width: 297mm;
  height: 210mm;
  margin: 0 auto;
  padding: 20mm;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Optional: Add border for visualization */
  font-family: Calibri;
  padding: 20mm;
  display: flex;
  flex-direction: column;
  
}
.h-info-data{
  margin: 0;
}
.container-header{
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.h-logo{
  border-right: 1px solid black;
}
.h-logo-png{
  width: 180px;
  margin: 10%;
}
.h-title{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.h-title h1{
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-weight:500;
}
.h-info{
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.container-date{
  width: 100%;
  margin: 30px 0;
  font-size: 23px;

}
.container-data{
  width: 100%;
  
}

table {
  border-collapse: collapse;
  width: 100%; 
  border: none;
}

th {
border: 1px solid black;
font-family: Cambria;
text-align: center;
/* width: 25%;     */

}

td {

font-size: 1rem;
border: 1px solid black;
padding-left: 5px;
/* text-align: center; */
}

.bs-table-data-tr{
  
cursor: pointer;
height: 40px; 
}

.bs-table-sign-thead {
  border: 1px solid black;
  }

.bs-table-sign-th {
text-align: center;
font-size: 16px;
font-family: Calibri;
width: 50mm;

height: 20px ;
}

.bs-table-sign-td {

font-size: 1rem;
border: none;
border: 1px solid black;
height: 100px ;
}
.bs-table-sign-tr{
cursor: pointer;

}
.container-sign{
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}


.input-bs-table{
  border:0;
  text-align: center;
  font-size: 1rem;
  height: 40px; 
}
.input-bs-table:focus{
  outline: none;
  border:0;
}

.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.print-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ============================ Liste DA ============================ */


.da-list-container{
display: flex;
flex-direction: column;
  /* background-color: rebeccapurple; */
  padding: 15px;
  gap: 20px;
}
.da-container{
  height: 110px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.da-container:hover{
  height: 190px;
}
.da-container-top{
  position: relative;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.da-container-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.da-en-cours{
  border-left: 10px rgb(60, 245, 91) solid;
}
.da-container:hover{
  cursor: pointer;
}
.da-overlay{
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 10px);
  /* height: 130px; */
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33333327;
  font-size: 18px;
  font-weight: bold;
  
}

.da-item-container{
  /* display: flex; */
  flex: 1;
}

.da-item-title{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.da-item-data{
  font-size: 16px;
  text-align: center;
}

.success-badge{
  background-color: #15D072;
  padding: 3px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.danger-badge{
  background-color: #fd6464;
  padding: 3px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.neutral-badge{
  background-color: #30d3df;
  padding: 3px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.warning-badge{
  background-color: #ffd92f;
  padding: 3px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.idle-badge{
  background-color: #9c9c9c;
  padding: 3px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.da-badge-color {
    
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.da-cartridge-item{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.da-cartridge-container{
padding: 5px;
}

.da-item-name{
font-size: 10px;
padding: 0;
margin: 0;
}
.rnd-class{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


/* ============================ Tableau de Bord ============================ */
.card-row{
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.card-item {
  width: 250px;
  height: 150px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    position: relative;
}
.card-item:nth-child(1) {
  color: #488365;
  background-color: #aff8d4;
}
.card-item:nth-child(1):hover {
  background-color: #6dffb6;
}
.card-item:nth-child(2) {
  color:#427b80 ;
  background-color: #b3faff;
}
.card-item:nth-child(2):hover {
  background-color: #91f8ff;
}
.card-item:nth-child(3) {
  color:#5c5b9b ;
  background-color: #c5dcff;
}
.card-item:nth-child(3):hover {
  background-color: #97b8ff;
}
.card-item:nth-child(4) {
  color:#9b8a5b ;
  background-color: #fffbc5;
}
.card-item:nth-child(4):hover {
  background-color: #fff597;
}
.card-item:nth-child(5) {
  color:#8e5b9b ;
  background-color: #f3c5ff;
}
.card-item:nth-child(5):hover {
  background-color: #f0b2ff;
}
.card-item:nth-child(6) {
  color:#9b5b5b ;
  background-color: #ffc5c5;
}
.card-item:nth-child(6):hover {
  background-color: #ff9797;
}

.card-item:nth-child(7) {
  color:#555555 ;
  background-color: #b8b8b8;
}
.card-item:nth-child(7):hover {
  background-color: #7c7b7b;
}
.card-item:nth-child(8) {
  color:#772f2f ;
  background-color: #ca5656;
}
.card-item:nth-child(8):hover {
  background-color: #ce4747;
}
.card-title{
  margin-top: 30px;
  margin-left: 15px;
  /* font-size: 20px; */
  font-size: clamp(1rem, 1.5vw, 3rem);
  
}


.card-data{
position: absolute;
right: 20px;
bottom: 20px;
font-size: clamp(1rem, 2vw, 3rem);
/* font-size: 60px; */
}
.charts-container{
  display: flex;
flex-wrap: wrap;  gap: 50px;
  margin-bottom: 30px;
}
.group-chart{
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-year{
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px grey solid;
  padding: 10px;
  cursor: pointer;
}
.btn-year:hover{
  background-color: #93ff93;
}


/* ============================ My DA ============================ */
.tool-tip{
  padding: 10px;
  background-color: white;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

}
.card-approval-status {
  border: 0;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 7px;
   width: 200px; 
   border: 1px white solid;
}
   
.p-app-da,.count-approval{
  margin: 0;
}
.count-approval{
  margin-left: 70%;
  font-size: 25px;
}
.card-approval-status:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  border: 1px black solid;
  transition: all 0.2s ease;
}
.my-da-list-container{
  display: flex;
}
.da-left-container{
   width: 200px; 
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 5px;
  padding-right: 5px;
  border-right: 3px black solid;
}
.da-right-container{
  width: 100%;
  padding: 0 15px;
}
.da-h2{
  margin:0 5px;
}
.soc-list-container,.da-container-achat{
  display: 	flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}
.btn-set-soc,.btn-soc-achat{
  background-color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-bottom: 3px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-set-soc:hover,.btn-soc-achat:hover{
  background-color: var(--primary-color-hover);
}
.btn-set-soc:focus,.btn-soc-achat:focus{
  background-color: var(--primary-color-hover);
  font-weight: bold;
}
.btn-set-year:hover{
  background-color: var(--primary-color-hover);
}

.btn-set-year{
  background-color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-bottom: 3px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin:5px;
}
.btn-set-year:focus{
  background-color: #59f8a9;
  font-weight: bold;
}
.approval-list-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-get-detail{
  background-color: white;
  border: none;
  cursor: pointer;
  border-bottom: 2px rgba(128, 128, 128, 0.438) solid;
}
.da-list-table:nth-child(1){
  height: 40px;
  width: 10%;
}
.da-list-table:nth-child(2){
  width: 40%;
}
.da-list-table:nth-child(3){
  width: 40%;
}
.da-list-table:nth-child(4){
  width: 10%;
}
.span-bc-right{
  font-size: 20px;
  margin: 0 0 20px 10px;
  display: inline-block;
}
.span-dt-right{
  font-size: 30px;
font-weight: bold;
}
.succes-da{
  border-left: 4px solid rgb(91, 243, 154);
}
.primary-da{
  border-left: 4px solid rgb(91, 126, 243);
}
.warning-da{
  border-left: 4px solid rgb(243, 215, 91);
}
.danger-da{
  border-left: 4px solid rgb(243, 91, 91);
}
.td-list-table{
  font-size: 14px !important;
}

.bc-list-table{
  height: 40px;
}

.approval-cat{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  padding-left: 95px;
}
.header-approval{
 width: 95px;
 position: absolute;
  top: 0;
  left: 0;
}

.btn-da-achat{
  /* width: 100px; */
  padding:0 10px;
  height: 80px;
  background-color:#27c576;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}
.btn-da-achat-item{
color: white;
}
.btn-da-achat-item:nth-child(1){
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.btn-da-achat-item:nth-child(3){
  font-size: 15px;
  font-weight: bold;
}
/* ============================ Login ============================ */

.login-body {
  font-family: Arial, sans-serif;
  background-image: url('BG.jpg');
  background-size: cover;
  background-color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffffab;
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-container h2 {
  color: #333; /* Assuming a dark grey color for text */
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom: 1px solid ;
}

.login-input:focus{
  outline: none;
  border-bottom: 1px solid rgb(29, 26, 15) !important;
}

.login-submit {
  background-color: var(--primary-color); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
}

.login-submit:hover {
  background-color: var(--primary-color-hover); /* Darker yellow on hover */
}

.footer {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  margin-top: 20px;
}
.login-err{
  margin-top: 20px;
  padding-left: 30px;
  color: rgb(243, 103, 103);
  font-style: italic;
}
.deco-btn{
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}
.deco-btn:hover{
  color: var(--secondary-color);;
}
.settings-username{
  margin: 0 20px;
  color: var(--primary-color);
}



/* ============================ Users============================ */
.users-main-container{

  width: 100%;
  display: flex;
}
.users-right,.users-left{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-table{
  width: 400px;
}

.users-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.users-input{
  font-size: 20px;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  border-radius: 15px;
}

.users-btn{
  font-size: 20px;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  border-radius: 15px;
  background-color:  var(--primary-color);
  ;
  border: none;
  cursor: pointer;
}
.users-btn:hover{
  color: rgb(255, 255, 255);
  background-color: var(--primary-color-hover);
}

.profile-box{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 50px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #40fd9e;
  border-radius: 15px;
  background-color: white;
}

/* ============================  SAP ============================ */
.base-group{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.base-group label{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #bebebe63;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.base-group label input{
  border-bottom:none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}
.base-group label input:checked  {
  background-color: #57e977;
 }
 .sql-btn {
  font-size: 20px;
  width: 150px;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: white;
 }
 .sql-btn:hover{
  background-color: var(--primary-color-hover);

 }
 .sql-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 .formulaire-container{
    margin-top: 25px;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
 }
  .formulaire-card{
    width: 250px;
    /* height: 150px; */
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-size: 13px;
    transition: 0.3s ease; 
  }
  .formulaire-card:hover{
        transform: scale(1.02);
        cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.215) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  }
  .formulaire-card p span {
    font-weight: bold;
  }
   .formulaire-card p  {
    margin: 5px 0;
  }
  .no-formulaire{
    width: 100%;
    font-style: italic;
    border: 1px solid rgba(128, 128, 128, 0.534);
    padding: 10px;
    border-radius: 10px;
  }

  .formulaire-details{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .form-item-box{
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  padding: 0;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;

}
.formulaire-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#loading-modal{
  position: absolute;
  width: 90%;
  height: 80%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #33333349;
  backdrop-filter: blur(5px);
}
.modal-internior{
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
}
.large-box{
  width: 50%;
}
/* ============================ Avancement  ============================ */

.projects-list button {
  background-color: white;
  font-size: 15px;
  border:none;
  border-radius:5px;
  cursor: pointer;
  color: var(--primary-color);
  padding:2px 10px;
  border: 2px solid var(--primary-color);
  font-size: 13px;
}
.projects-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
  .projects-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: 5px;
  }
  .filter-type-title{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-color);
    padding: 0 10px;
  }

.date-from-to-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}
.date-from-to-container label{
  color: var(--primary-color);
  font-size: 15px;
}
.fromto-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--primary-color);
}
.select-filter{
  background-color: transparent;
  border: none;
  width: 100%;
  appearance: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  color: var(--primary-color);
}
.selectedProject {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: 2px solid black;
}
.critere-search{
  color: var(--secondary-color);
  font-size: 12px;
}
#selected-pro,#selected-date{
  font-weight: 800;
}
.first-row{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
#table-programme{
  width: 500px;
  font-size: 15px;
}
#table-stck{
  width: 600px;
  font-size: 15px;

}
.second-row{
  margin-top: 40px;
}
/* table styling BEGIN*/
.table-total-row td{
  background-color: var(--secondary-color-hover);
  font-weight: bold;
  color: black !important;
}
.table-row-header{
  text-align: left !important;
  color: black !important;

}
#table-programme tbody td,#table-stck tbody td,#table-synth tbody td{
  text-align: right;
  font-size: 15px;
  padding-right: 5px;
}
#table-stck tbody td{
  color: var(--primary-color);
}
#table-programme thead,#table-stck thead,#table-synth thead{
  background-color: var(--primary-color);
  color: white;
}
#graphe1,#graphe2,#graphe3{
  width: 300px;
  height: 300px;
}

.third-row{
  display: flex;
  justify-content: space-evenly;
}
#title_periode-1{
  background-color: #d7e8f7;
  color: black;
}
.title_periode-10{
  background-color: #b4dcfc;
   font-size: 13px;
  color: black;
}
.title_periode-1{
  background-color: #d7e8f7;
  font-size: 13px;
  color: black;
}
.title_periode{
  background-color: var(--primary-color);
  font-size: 13px;
}
.title_periode1{
  background-color: #c8e1f5;
  font-size: 13px;
  color: black;
}
.title_encaisse{
  background-color: #0149a7;
}
.bleu-highlight{
  color: #0f60ca;
}
.neg-value{
  color: #e73c3c;
}
.pos-value{
  color: #2dcf7e;
}
.input-stock-livre{
  border: none;
  color: var(--primary-color);
  text-align: right;
}
#stock-livre-total{
  border: none;
  font-weight: bold;
  text-align: right;
  background-color: transparent;
}
/* table styling END*/
.orverlay-reporting{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(5px);
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.orverlay-reporting h2{
  color: var(--primary-color);
  text-align: center;
}
.typeselector{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-type-selector {
  background-color: white;
  font-size: 15px;
  border:none;
  cursor: pointer;
  color: var(--primary-color);
  padding:2px 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
}
.btn-type-selector:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.btn-type-selector:nth-child(3) {
  border-radius: 0 5px 5px 0;
}
.selectedType {
  background-color: var(--primary-color) !important;
  color: white !important;
}
/* ============================ DECHARGE  ============================ */

.dech-header{
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.decharge-input{
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 20px;
}

.wider{
  width: 400px;
}
.decharge-input:focus{
  border: none;
}

.decharge-add-del{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.decharge-icon{
  cursor: pointer;
}
.mat-row-container{
  /* background-color: #aefaaa57; */
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
}
.materiel-input{
  padding-left: 10px;
  height: 40px;
  font-size: 15px;
  background-color: white;
  border: none;
  border-bottom: 1px var(--primary-color) solid;
  border-radius: 5px;
}
.materiel-input:nth-child(1){
  width: 200px;
}
.materiel-input:nth-child(2){
  width: 100px;
}
.materiel-input:nth-child(3){
  width: 130px;
}
.materiel-input:nth-child(4){
  width: 80px;
}
.materiel-input:nth-child(5){
flex-grow: 1;}
/* ============================ SWITCH ============================ */
.header-switch{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.mac-search,.itemsearch{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 17px;
  margin-top: 15px;
}
.btn-switch{
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;
  color: white;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  background-color: var(--primary-color);
}
.btn-switch:hover{
  background-color: var(--primary-color-hover);

}
.spinner{
  width: 75px;
}
.centred-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}
#switch-search-title,#printer-search-title,#adv-search-title{
  color: var(--primary-color);
}

.highlight{
  background-color: var(--primary-color-hover);
}
/* ============================ PRINTERS ============================ */
.printers-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.printer-container{
  width: 250px;
  height: 150px;
   border: 1px solid black;
   border-radius: 10px;
   font-size:12px;
   background-color: white;
   padding: 5px;
}
.printer-row{
  width: 100%;
}
.printer-row:nth-child(1){
  height:70%;
  display: flex;
  flex-direction: row;
}
.printer-row:nth-child(2){
  height:30%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;

}
.printer-column{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}
.printer-row:nth-child(1) .printer-column:nth-child(1){
width: 50%;
height: 100%;
}

.printer-img{
  width: 100px;
}
.printer-text{
  margin: 0;
}

.printer-level-container{
  height: 15px;
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
}
.printer-level{
  background-color: var(--primary-color);
  border-radius: 15px;
  height: 15px;
  width: 70%;
}
.printer-toner-level{
  margin: 0;
}
.printers-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
  .user-printer-card {
      background: #fff;
      padding: 5px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;
      width: 150px;
      height: 140px;
      position: relative;
  }
  .user-printer-card h4 {
    margin: 0;
  }
  .bars {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
  }
  .bar {
      width: 30px;
      height: 100px;
      border: 2px solid #ccc;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column-reverse;
  }
  .fill {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 12px;
      line-height: 1.2;
      font-weight: bold;
  }
  .label {
      margin-top: 8px;
      font-size: 14px;
  }
  .printer-link {
    text-decoration: none;   /* remove underline */
    color: inherit;          /* keep text same as parent */
    display: inline-block;   /* make the card clickable as a block */
}

.printer-link:hover {
    transform: translateY(-3px);             /* slight lift */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.offline{
  position: absolute;
  width: 150px;
  top: 0;
  height: 140px;
  backdrop-filter: blur(5px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  left: 0;
  font-weight: bold;
  flex-direction: column;
}
.offline p{
  color: rgb(255, 72, 72);

}
/* ============================ TELEPHONE ============================ */

.tel-img{
  width: 70px;
}
.tel-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.tel-data{
  width: 100px;
  padding: 10px;
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.tel-name{
  text-align: center;
}
.tel-data:hover{background-color: rgb(218, 218, 218);}
.tel-text{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 17px;
}

/* ============================ Commercial ============================ */
.projet-container{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.btn-projet{
  width: 100px;
  background-color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-bottom: 3px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  font-family: Calibri;
}
.btn-projet:hover{
  background-color: var(--primary-color-hover);
}
.btn-projet:focus{
  background-color: var(--primary-color);
  color: white;
}

.td-input-container{
  padding: 0;
}
.td-input{
width: 100%;
box-sizing: border-box;
border: none;
}
.td-input:focus{
  border:none;
}
.TableHead tr th{
  font-family: Calibri !important;

}

.button-val-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap : 50px;
}
.input-error{
  border: 1px solid #f07c7c !important;
}
.span-message{
  font-style: italic;
  color: grey;
}

.smaller-td{
  font-size: 12px;
}
/* ============================== ADV ==================================== */
.sync-btn{
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
  .sync-btn:active{
    background-color: #b6b6b6;
  }

.files-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  background-color: #ece9e94a;
  border: 1px solid #80808054;
  border-radius: 5px;
  margin-top: 10px;
}

  #syncDate,.fileDate{
    font-weight: bold;
  }
.adv-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 17px;
}

.adv-projects{
  width: 400px;
}
.adv-data-container,.adv-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.table-synthese .adv-table tr td:nth-child(1){
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
#adv-data{
  width: 100%;
}
.table-synthese thead .adv-header-titles{
  font-size: 12px;
}
.box-border{
  border: 2px solid black;
  font-weight: bold;
}
.box-border-left{ border-left: 2px solid black;}
.box-border-right{ border-right: 2px solid black;}
.box-border-top{ border-top: 2px solid black;}
.box-border-bottom{ border-bottom: 2px solid black;}
#adv-table tbody tr td{
  text-align: center;
  font-size: 10px;
}
.file-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}
.file-data p{
  margin: 0;
}
#update-container{
  display: flex;
  align-items: center;
  gap: 30px;
}
.files-header{
  font-weight: bold;
}
#adv-table-2{
  margin-top: 25px;
}
.all-projects{
  height: 31px;
  color: var(--primary-color);
}
.all-projects:hover{
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
.refresh-overlay{
  position: absolute;
  background-color: white;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.projet-refresh{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  font-size: 15px;
  border-bottom: 1px solid grey;
  padding: 5px;
}
.ref-pro-list{
  width: 100%;
}
.projet-refresh span{

  font-size: 20px;
}
/* ============================ Add new Item ============================ */
.item-form{
  width: 100%;
  font-size: 18px;
}
.item-top-container{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 30px;
}
.item-bottom-container{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}
.item-left-container,.item-right-container{
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
align-items: center;
}
.item-box label{
  width: 100px;
  height: 30px;
}
fieldset input{
  background-color: transparent;
  border:none;
  width: 100%;
  height: 28px;
  appearance: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
fieldset input:focus,fieldset textarea:focus{
  outline: none ;
  border: none;
}
fieldset textarea{
  background-color: transparent;
  border:none;
  width: 100%;
  height: 100%;
  appearance: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.item-box{
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 90%;
  height: auto;
  padding: 0;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  ;
}
.item-box-textarea{
  height: 100%;
}
.user-container{
  display: flex;
  width: 90%;
}
.item-select{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 28px;
  appearance: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.item-box-buttons{
  height: 100%;
}
.page-title{
  /* margin: 10px 0; */
  margin:  0;
}
.item-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.item-box-buttons{
  justify-content: space-around;
  align-items: center;
}
.item-buttons button{
  width: 150px;
}
#qr-code{
  width: 150px;
  height: 150px;
}
.qr-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-item{
  background-color: rgba(233, 150, 150, 0.486);
}.search-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.search-container{
  width: 50%;
  height: 50px;
  background-color: white;
  border-radius:  15px;
  border: 1px solid rgb(141, 141, 141);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-result{
  width: 48%;
  max-height: 250px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(141, 141, 141);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: scroll;
  padding: 10px;
}
.search-container input{
  border: none;
  border-bottom: 1px solid lightgrey;
  width: 95%;
  height: 70%;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inv-item{
  width: 100%;
  /* height: 32px; */
  font-size: 18px;

  border-bottom:1px solid lightgray;

}
.inv-item:hover{
  cursor: pointer;
  background-color: rgb(233, 229, 229);
}
/* ============================ Reaffectation ============================ */
.affectation-tittle{
  border-bottom: 2px solid var(--primary-color) ;
  width: 30%;
  text-align: center;
  padding:10px;
}
.item-mid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ============================ Mvt Items ============================ */
.mvt-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.mvt-container-left{
  width: 35%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  border-right: 1px solid rgba(68, 68, 68, 0.438);
}
.mvt-container-right{
  width: 65%;
  height: 100%;
  padding: 10px;

}
.mvt-item-card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 170px;
  padding: 10px;
}
.mvt-item-card:hover{
  transform: scale(1.05);
  transition: .2s ease all;
  cursor: pointer;
  box-shadow: rgba(12, 80, 26, 0.35) 0px 5px 15px;

}
.mvt-item-card p{
  margin: 5px 0;
  font-size: 11px;
}
.mvt-item-card p span{
font-weight: bold;
}


/* ============================ DECHARGE ============================ */


.dech-container-left{
    width: 35%;
  height: 100%;
  padding: 10px;
  border-right: 1px solid rgba(68, 68, 68, 0.438);
}

.dech-container-right{
  width: 65%;
  height: 100%;
  padding: 10px;
}
.form-dech{
    margin-bottom: 20px;
}
.text-italic{
  font-style: italic;
  font-size: 12px;
}
.decharge-item-card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 80px;
  padding: 10px;
  border: 1px solid var(--primary-color)
}
.decharge-item-card p{
  margin: 0;
}
.decharge-item-card:hover{
    transform: scale(1.05);
  transition: .2s ease all;
  cursor: pointer;
  box-shadow: rgba(12, 80, 26, 0.35) 0px 5px 15px;
}
.decharge-container{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
input:disabled {
    background-color: #e0e0e0a4; /* light grey background */
    color: #6c757d;           /* grey text */
}
/* ============================ RESPONSIVE ============================ */

@media only screen and (max-width: 800px) {

  /* ============================ TDB ============================ */
  .chart-container-row{
    flex-direction: column;

  }
  .card-row{
    flex-direction: column;
    
  }
  .card-item {
    width: 100%;
  }


  .users-main-container{
    flex-direction: column;
    gap: 30px;
  }
  .card-title{
    font-size: 20px; 

    
  }
  .card-data{
  position: absolute;
  font-size: 60px; 
  }
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333; 
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 
.success-message{
  background-color: rgb(84, 228, 115) !important;
}
.error-message{
  background-color: rgb(228, 84, 84) !important;
}
.obj-comm{
  width: 100%;
}

.large-btn{
  width: 130px;
}
.bold-text{
  font-weight: bold;
  background-color: var(--secondary-color-hover);
}
.table-synthese{
  font-size: 15px;
}

.table-synthese tbody tr td{
  font-size: 12px;
}
.table-synthese thead tr th{
  background-color: var(--primary-color);
  color: white;
}
.synth-header{
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

@media print {
  .synth-header{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
}

.empty-row{
  background-color: var(--primary-color);
}



.table-obj tbody tr:nth-child(even) {
  background-color: #5474715d;
}
.table-obj tbody input{
  background-color:transparent
}

.qr-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}